<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h1>Eduardo Esteban</h1>
    <img src="assets/ee.jpg" alt="selfimage" height="60%" width="30%">

    <p>In my spare time, I like to work on puzzles! Some of my favorite are math ones, as I strongly believe that they build problem solving skills that can transcend any field.</p>

    <p></p>

    <p>Another thing i like to do, is spend an hour at the gym. I like to lift weights, and after that hour, I feel very refreshed and accomplished. Its a perfect way to end the day. </p>

    <p></p>

    <p>Although I have not had much time, I like to play video games on my computer. I'm a big fan of the games "Assassin's Creed," partly to their historical influence.</p>

    <a href="https://www.wolframalpha.com/">Wolfram|Alpha     </a>
    <a href="https://www.hulu.com/">Hulu     </a>
    <a href="https://stackoverflow.com/">Stack Overflow</a>

    <p>I am curently 19. I attend Stanford University, with a potential major of computer Science. </p>
</ion-content>
